ACTION=="add", SUBSYSTEM=="usb", RUN+="/opt/system/lib/udev-usb-connect.sh"
ACTION=="remove", SUBSYSTEM=="usb", RUN+="/opt/system/lib/udev-usb-disconnect.sh"
